* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    background-color: rgb(85, 231, 151);
}

#okno {
    margin: auto;
    margin-top: 5vh;
    padding: 20px;
    width: 25vw;
    height: 60vh;
    background-color: rgb(255, 117, 117);
    text-align: center;
}

#okno img {
    width: 20vw;
    margin: 0 auto;
}

form p {
    text-align: left;
}

form input {
    width: 100%;
    height: 2em;
}

input[name="num"] {
    width: 60%;
    float: left;
}

#passwd {
    width: 4.2em;
    height: 2.8em;
    float: left;
    margin-left: 5px;
    background-image: url("../../img/pas/pas1.png");
    /* background-position: 50% 50%; */
    background-size: 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    #okno {
        width: 40vw;
    }
}